.principal{
    width: 50vw;
    margin: 5em auto 5em auto;

}

.principal__titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--laranja);

}

.principal__subtitulo{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: var(--azul-degrade);
    margin: 3em 0 2em 0;


}

.campo__nome{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--azul);
    margin-left: 1em;

}

.campo__escrita{
    border: 1px solid var(--azul);
    border-radius: 20px;
    padding: 1em;
    width: 100%;


}

.formulario__botao{
    background:  var (--laranja);
    padding: 1em 4em;
    font-weight: 700;
    font-size: 20;
    line-height:  30px;
    border: nome;
    color:  var(--branco);
    cursor:  pointer;
    width: 50%;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: px;


}